@font-face {
    font-family: 'Helvetica-Medium';
    src: url('./assets/fonts/helvetica/HelveticaNowDisplay-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('./assets/fonts/helvetica/HelveticaNowDisplay-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica-Black';
    src: url('./assets/fonts/helvetica/HelveticaNowDisplay-Black.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica-Regular';
    src: url('./assets/fonts/helvetica/HelveticaNowDisplay-Regular.woff2') format('woff2');
    font-display: swap;
}

* {
    font-family: "Helvetica-Medium"
}

.helvetica-bold {
    font-family: "Helvetica-Bold"
}

.helvetica-black {
    font-family: "Helvetica-Black"
}

.helvetica-regular {
    font-family: "Helvetica-Regular"
}


@tailwind base;
@tailwind components;
@tailwind utilities;